<div class="modal-header">
  <button type="button" class="close" ng-click="close()"><i class="bts bt-times bt-sm"></i></button>
  <h3 class="modal-title">Add slide</h3>
</div>
<div class="modal-body">
  <form class="add-form" name="addForm" novalidate ng-submit="save()">
    <div class="form-group">
      <label ng-class="{error: validateService.hasFieldErrors(addForm.name)}">
        System name
      </label>
      <input class="form-control"
             type="text"
             name="name"
             ng-model="slide.name"
             required>
    </div>
    <div class="form-group">
      <label ng-class="{error: validateService.hasFieldErrors(addForm.label)}">
        Label
      </label>
      <input class="form-control"
             type="text"
             name="label"
             ng-model="slide.label.fi"
             required>
    </div>
    <button type="submit" class="submit-button" ng-disabled="!canSubmit()">Save</button>
    <button type="button" class="cancel-button" ng-click="close()">Cancel</button>
  </form>
</div>
