// -- Imports --
// Bootstrap Framework
@import (once) "../../bower_components/bootstrap/less/bootstrap";

// -- Animations --
@-webkit-keyframes pop {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes pop {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}

// -- Mixins --

.nn-icon(@size; @font-size; @color; @bg-color) {
  .square(@size);
  background: @bg-color;
  border-radius: 100%;
  display: block;
  text-align: center;

  > i {
    color: @color;
    font-size: @font-size;
    line-height: @size;
  }
}

.info-animation(@duration) {
  -webkit-animation: pop @duration cubic-bezier(0.4, 0, 1, 1) infinite;
  -o-animation: pop @duration cubic-bezier(0.4, 0, 1, 1) infinite;
  animation: pop @duration cubic-bezier(0.4, 0, 1, 1) infinite;
}

.aspect-ratio(@width, @height) {
  position: relative;

  &:before {
    content: "";
    display: block;
    padding-top: (@height / @width) * 100%;
    width: 100%;
  }
  > iframe {
    border: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}

hr {
  border: none;
  border-top: 3px solid #fff;
  margin: 40px 0;
}

blockquote {
  border: 0;
  font-size: inherit;
  margin: 0;
  padding: 0 0 0 22px;
}

// -- Forms --

.form-control {
  border-color: transparent;
  box-shadow: none;

  &.small-input {
    margin-left: 20px;
    width: calc(~"100% - 20px");
  }
}

.form-control-feedback {
  top: 25px !important;
}

// -- Controllers --

.main {
  @slide-padding: 80px;
  @action-button-width: 120px;
  @action-button-height: 80px;
  .container;
  margin-top: 80px;

  @media screen and (max-width: @screen-xs-max) {
    padding: 0;
  }

  .main-title {
    color: @nn-blue;
    font-size: 80px;
    margin: 40px 0;
    text-align: center;
  }

  .main-head {
    background: #fff;
    box-shadow: 0 0 10px 1px fade(#000, 8%), 0 0 2px 1px fade(#000, 10%);
    height: 80px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11;
    
    &:after {
      background: #fff;
      content: '';
      height: inherit;
      left: 0;
      position: absolute;
      top: 0;
      width: 100vw;
      z-index: -1;
    }

    .main-head-content {
      align-items: center;
      background: #fff;
      display: flex;
      height: inherit;
      margin: 0 auto;
      max-width: @container-large-desktop;

      .head-kkv-container {
        flex: 0 1 33%;
        margin-left: 15px;

        @media screen and (max-width: @screen-xs-max) {
          flex: 0 1 auto;
        }

        .head-kkv-logo {
          display: none;

          @media screen and (min-width: @screen-sm) {
            display: block;
            width: auto;

          }

          &--small {
            //left: 10px;
            //position: absolute;
            //top: 25px;
            width: 80px;

            @media screen and (min-width: @screen-sm) {
              display: none;
            }
          }
        }

      }

      .head-kune-container {
        flex: 0 1 33%;

        @media screen and (max-width: @screen-xs-max) {
          flex: 0 1 auto;
        }

        .head-kune-logo {
          display: none;

          @media screen and (min-width: @screen-sm) {
            display: block;
            margin: 0 auto;
            max-width: 280px;
          }

          &--small {
            //left: 95px;
            //position: absolute;
            //top: 9px;
            width: 50px;

            @media screen and (min-width: @screen-sm) {
              display: none;
            }
          }
        }
      }
    }


    .language-menu {
      flex: 0 1 33%;
      padding-right: 15px;
      text-align: right;

      @media screen and (max-width: @screen-xs-max) {
        flex: 1 1 auto;
      }

      > ul {
        .list-inline;
        font-size: 16px;
        font-weight: bold;
        //margin: 0 15px 0 0;
        margin: 0;


        > li {
          &:last-of-type {
            //display: block;
            //margin-top: 5px;
          }

          > a {
            color: @nn-blue;
            text-decoration: none;
          }

          a:hover,
          &.active > a {
            color: @nn-blue-dark;
          }
        }
      }

      .slide-menu-button {
        color: @nn-blue;
        display: inline-block;
        margin-top: 8px;
        padding: 0 5px;
        position: relative;
        text-decoration: none;

        &:hover {
          color: @nn-blue-dark;
        }

        @media screen and (min-width: @screen-sm-min) {
          display: none;
        }
      }
    }
  }


  .slide-menu {
    background: linear-gradient(to bottom, #fff 0%, fade(#fff, 93%) 100%);
    //background: linear-gradient(to bottom, @nn-blue 0%, fade(@nn-blue, 93%) 100%);
    //border-top: @nn-blue 2px solid;
    height: calc(~'100% - 80px');
    left: 0;
    margin-bottom: 60px;
    opacity: 0;
    overflow-y: scroll;
    //padding: 20px 0;
    pointer-events: none;
    position: fixed;
    top: 80px;
    transition: opacity 200ms;
    transform: translate3d(0,calc(~'-100% - 80px'),0);
    //transform: translate3d(0,100%,0);
    width: 100vw;
    z-index: -1;

    // TODO: USE @screen-sm instead of sm-min ???
    @media screen and (min-width: @screen-sm-min) {
      background: #fff;
      border-top: none;
      box-shadow: 0 0 10px 1px fade(#000, 8%), 0 0 2px 1px fade(#000, 10%);
      height: auto;
      opacity: 1;
      overflow-y: auto;
      transform: translate3d(0,-52px,0);
      transition: transform 300ms;
    }

    &.open {
      opacity: 1;
      pointer-events: auto;
      transform: translate3d(0,0,0);

      & > * {
        @media screen and (min-width: @screen-sm-min) {
          opacity: 1;
          transition: opacity 200ms 100ms;
        }
      }
    }

    & > * {
      @media screen and (min-width: @screen-sm-min) {
        opacity: 0;
        transition: opacity 125ms;
      }
    }

    .slide-menu-items {
      border-bottom: @nn-purple 2px solid;
      padding: 20px;
      text-align: center;

      @media screen and (min-width: @screen-sm-min) {
        border: 0;
        padding: 15px;
      }

      a {
        //color: #fff;
        color: @nn-blue;
        display: block;

        &:hover {
          text-decoration: none;
        }

        @media screen and (min-width: @screen-sm-min) {
          color: @nn-blue;
          display: inline-block;

          &:hover {
            color: @nn-blue-dark;
          }
        }

        &:not(:last-of-type) {
          margin: 0 0 20px 0;

          @media screen and (min-width: @screen-sm-min) {
            margin: 0 20px 0 0;
          }
        }
      }
    }

    .slide-menu-slides {
      .list-unstyled;
      padding: 20px;

      @media screen and (min-width: @screen-sm-min) {
        display: none;
      }

      > li {
        margin-bottom: 30px;
        position: relative;
        text-align: center;

        &:after {
          //color: @nn-blue-dark;
          color: @nn-purple;
          content: '\f0d7';
          font-family: 'FontAwesome';
          position: absolute;
          left: calc(~'50% - 6px');
          font-size: 21px;
          bottom: -30px;
        }

        &:last-of-type {
          &:after {
            display: none;
          }
        }

        > a {
          color: @nn-blue;
          //color: #fff;
          padding: 4px;
        }
      }
    }
  }


  .slide-pager {
    .list-unstyled;
    position: fixed;
    margin: 0 calc(-(@container-sm / 2) - 20px) 0 0;
    top: 50%;
    right: 50%;
    z-index: 1000;

    @media screen and (min-width: @screen-md) {
      margin: 0 calc(-(@container-md / 2) - 20px) 0 0;
    }

    @media screen and (min-width: @screen-lg) {
      margin: 0 calc(-(@container-lg / 2) - 30px) 0 0;
    }

    > li {
      margin-bottom: 10px;

      > a {
        .square(15px);
        background: @nn-blue;
        border-radius: 100%;
        content: "";
        cursor: pointer;
        display: block;
        z-index: 1001;
      }
    }
  }

  .slide {
    background: #fff;
    margin-bottom: @action-button-height / 2;
    position: relative;
    text-align: center;

    &-needs-authentication {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 26px;
      color: white;
      text-shadow: 0 0 1px fade(#000, 70%);
    }

    h2 {
      margin: 0 0 30px;

      @media screen and (min-width: 320px) and (max-width: 359px) {
        font-size: 28px;
      }
      @media screen and (min-width: 360px) and (max-width: @screen-sm) {
        font-size: 32px;
      }

      > small {
        color: inherit;
      }
    }

    p {
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
      margin-bottom: 20px;
      overflow-wrap: break-word;
      word-wrap: break-word;

      @media screen and (min-width: @screen-sm) {
        -ms-hyphens: none;
        -moz-hyphens: none;
        -webkit-hyphens: none;
        hyphens: none;
        overflow-wrap: normal;
        word-wrap: normal;
      }
    }
  }

  .slide-elements {
    padding: (@slide-padding / 2) (@slide-padding / 4) @slide-padding;

    @media screen and (min-width: @screen-sm) {
      padding: (@slide-padding / 2) (@slide-padding / 2) @slide-padding;
    }
    @media screen and (min-width: @screen-md) {
      padding: (@slide-padding / 2) @slide-padding @slide-padding;
    }
  }

  .html-element {

    img {
      max-width: 100%;
    }
  }

  .choice-element {
    @choice-size: 274px;
    .make-row();
    text-align: center;

    &.small {
      @media screen and (min-width: @screen-sm-min) {
        padding: 0 7.5%;
      }

      .choice-column {
        .make-sm-column(3);

        .choice-info {

          @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            .nn-icon(42px; 24px; #fff; @nn-blue);
          }
          @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            .nn-icon(50px; 28px; #fff; @nn-blue);
          }
          @media screen and (min-width: @screen-lg-min) {
            .nn-icon(58px; 32px; #fff; @nn-blue);
          }
        }
      }

      .choice-item {
        overflow: hidden;

        @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
          font-size: 10px;
        }
        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
          font-size: 12px;
        }
        @media screen and (min-width: @screen-lg-min) {
          font-size: 16px;
        }

        .item-icon {
          -webkit-transform: translateY(-10px);
          -moz-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
          -o-transform: translateY(-10px);
          transform: translateY(-10px);
        }

        .item-content {
          bottom: 10px;
        }
      }
    }

    &.medium-small {
      @media screen and (min-width: @screen-sm-min) {
        padding: 0 12.5%;
      }

      .choice-column {

        .choice-info {

          @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            .nn-icon(46px; 26px; #fff; @nn-blue);
          }
          @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            .nn-icon(54px; 30px; #fff; @nn-blue);
          }
        }

        .choice-item {
          overflow: hidden;

          @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
            font-size: 12px;
          }
          @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
            font-size: 14px;
          }
          @media screen and (min-width: @screen-lg-min) {
            font-size: 18px;
          }

          .item-icon {
            -webkit-transform: translateY(-10px);
            -moz-transform: translateY(-10px);
            -ms-transform: translateY(-10px);
            -o-transform: translateY(-10px);
            transform: translateY(-10px);
          }

          .item-content {
            bottom: 10px;
          }
        }
      }
    }

    .choice-column {
      .make-sm-column(4);
      display: inline-block;
      float: none !important;
      position: relative;

      .choice-info {

        @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
          .nn-icon(50px; 28px; #fff; @nn-blue);
        }
        @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
          .nn-icon(54px; 30px; #fff; @nn-blue);
        }
      }
    }

    .choice-item {
      // TODO: Fix responsive styles
      background: @nn-blue-lighter;
      cursor: pointer;
      display: block;
      font-size: 20px;
      //font-size: 22px;
      margin-bottom: 20px;
      position: relative;
      width: 100%;

      @media screen and (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
        font-size: 12px;
      }

      @media screen and (min-width: @screen-md-min) and (max-width: @screen-md-max) {
        font-size: 16px;
      }

      &.active {
        background: @nn-blue-light !important;
      }

      .item-icon {
        .img-responsive;
        margin: auto;
      }

      .item-content {
        color: @nn-blue-dark;
        font-weight: 600;
        position: absolute;
        text-align: center;
        right: @grid-gutter-width / 2;
        bottom: 15px;
        left: @grid-gutter-width / 2;

        @media screen and (max-width: @screen-xs-max) {
          font-size: 15px;
        }
      }
    }

    .choice-info {
      .nn-icon(64px; 36px; #fff; @nn-blue);
      .info-animation(4000ms);
      border: 5px solid #fff;
      box-shadow: 0 0 2px 1px fade(#000, 10%);
      position: absolute;
      top: -10px;
      right: 5px;

      > i {
        position: relative;
        bottom: 5px;
      }
    }
  }

  .slide-form {
    .form {
      margin: 40px auto;
      max-width: 540px;
    }

    .form-group {
      position: relative;
      text-align: left;
    }

    .input-info {
      .nn-icon(26px; 16px; #fff; @nn-blue);
      .info-animation(2500ms);
      border: 2px solid #fff;
      box-shadow: 0 0 2px 1px fade(#000, 8%);

      > i {
        line-height: 22px;
      }
    }

    .input-multiselect > .input-info,
    .input-text > .input-info,
    .input-dropdown > .input-info {
      position: absolute;
      top: 33px;
      right: -33px;

      @media screen and (max-width: @screen-xs-max) {
        display: none;
      }
    }

    .input-multiselect {
      tags-input {
        margin-top: 0;

        &.ng-valid .tags {
          border-color: #3c763d;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        &.ng-invalid .tags {
          border-color: #a94442;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .host {
          margin-top: 0;
        }
      }

      .tags {
        -webkit-appearance: inherit;
        border: 1px solid transparent;
        border-radius: @input-border-radius;
        box-shadow: none;

        &.focused {
          border-color: #66afe9;
          -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
          box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
        }

        .tag-list {
          .tag-item {
            background: transparent none;
            border: 0;
            color: #555;
            font-weight: bold;
            height: 28px;
            line-height: 28px;
          }
        }

        input {
          color: #555;
          font-family: @font-family-base;
          height: 28px;
        }

      }

      & > .form-control-feedback {
        top: 27px !important;
      }
    }

    .input-total > p {
      display: inline-block;
      font-weight: bold;
    }

    .input-file {
      label {
        display: block;
        margin-bottom: 10px;
      }

      .upload-button {
        .btn;
        .btn-default;
        border-radius: 4px;
        display: inline-block;
        margin-bottom: 10px;
      }

      .upload-filename {
        color: @gray-dark;
      }
    }

    .input-notice {
      @input-notice-padding: 20px;
      background: @nn-yellow;
      color: #000;
      margin-top: 20px;
      padding: @input-notice-padding;
      position: relative;

      .notice-icon {
        @icon-size: 36px;
        .nn-icon(@icon-size; 24px; #fff; @nn-purple);
        left: @input-notice-padding;
        margin: -(@icon-size / 2) 0 0;
        position: absolute;
        top: 50%;
      }

      .notice-content {
        padding-left: 70px;
      }

      .notice-title {
        margin-top: 0;
      }

      .notice-body {
        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    .text-max {
      color: #000;
      margin-top: 10px;
      text-align: right;
    }

    .input-checkbox {
      .checkbox;
      color: @nn-blue-dark;
      font-size: 16px;
      position: relative;

      input[type=checkbox] {
        margin-right: 5px;
      }

      > .input-info {
        display: inline-block;
        margin-left: 5px;

        @media screen and (max-width: @screen-xs-max) {
          display: none;
        }
      }
    }
  }

  .slide-next {
    .size(auto, @action-button-height / 2);
    background: #fff;
    color: @nn-blue;
    position: absolute;
    right: 0;
    bottom: -(@action-button-height / 2);
    left: 0;

    .next-button {
      .size(@action-button-width, @action-button-height);
      background: inherit;
      border-radius: 6px;
      box-sizing: border-box;
      color: inherit;
      cursor: pointer;
      display: block;
      margin-left: -(@action-button-width / 2);
      padding: 15px;
      position: absolute;
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      left: 50%;
      bottom: 0;

      > span {
        display: block;
        font-size: 14px;
        font-family: @font-family-interstate-l;
      }

      > i {
        display: block;
        font-size: 3em;
        margin-top: -5px;
      }
    }
  }

  .slide-loading {
    color: @nn-blue;
    font-size: 36px;
    padding: 100px 0;
    text-align: center;
  }

  .debug {
    margin: (@action-button-height / 2) + 10px 0 40px;
    text-align: left;

    > pre {
      background: @gray-lighter;
      border: none;
      border-radius: 0;
    }
  }
}

.info-modal {
  @info-padding: 40px;
  @info-body-padding: 20px;
  color: #000;
  min-height: 400px;
  padding: @info-padding;
  position: relative;

  .info-close {
    @close-button-color: #000;
    @close-button-size: 40px;
    @close-button-thickness: 2px;
    @close-button-offset: (@close-button-size / 2) - (@close-button-thickness / 2);
    .size(80px, 40px);
    color: @close-button-color;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;

    &:hover {
      color: @close-button-color;
    }

    .close-text {
      display: inline-block;
      position: relative;
      right: -5px;
      bottom: -10px;
    }

    .close-icon {
      .rotate(45deg);
      background: @close-button-color;
      display: inline-block;
      height: @close-button-size;
      position: absolute;
      width: @close-button-thickness;
      right: 20px;

      &:after {
        background: @close-button-color;
        content: "";
        height: @close-button-thickness;
        position: absolute;
        left: -@close-button-offset;
        top: @close-button-offset;
        width: @close-button-size;
      }
    }
  }

  .info-body {
    .make-row();
  }

  .body-left {
    .make-xs-column(3);
    .hidden-xs;

    .info {
      @info-size: 125px;
      .nn-icon(@info-size; 100px; @nn-blue; #fff);
      margin: @info-body-padding 0 0 -(@info-size / 2);
      position: absolute;
      left: 50%;
    }
  }

  .body-middle {
    .make-sm-column(7);
    padding-top: @info-body-padding;
    padding-bottom: @info-body-padding;

    > h3 {
      margin-top: 0;
    }
  }

  .body-footer {
    .make-sm-column(7);
    .make-sm-column-offset(3);
    padding-top: @info-body-padding;
    padding-bottom: @info-body-padding;

    > h3 {
      margin-top: 0;
    }
  }
}

.auth-modal {
  background: #fff;
  padding: 60px 0;
  text-align: center;

  &-close {
    color: @gray;
    font-size: 26px;
    position: absolute;
    top: 10px;
    right: 19px;
  }

  &-icon {
    font-size: 60px !important;
    position: relative;

    &:after {
      background: #fff;
      border-radius: 50%;
      content: '';
      height: 8px;
      left: 50%;
      position: absolute;
      top: 50%;
      -webkit-transform: translate(-50%, 4px);
      -ms-transform: translate(-50%, 4px);
      transform: translate(-50%, 4px);
      width: 8px;
    }
  }

  &-heading,
  &-auth {
    font-family: @font-family-interstate-l;
    margin: 30px 10px;
  }

  &-description {
    color: @gray-light;
    font-size: 18px;
    margin: 0 auto;
    width: 60%;
  }

  &-auth {
    .btn-lg;
    .button-variant(#fff; @nn-purple; @nn-purple);
    border-radius: 4px;
    display: inline-block;
    margin-bottom: 0;
    text-transform: uppercase;

    &:hover {
      text-decoration: none;
    }
  }
}

.video-element {
  cursor: pointer;
}

.video-modal {
  .aspect-ratio(16, 9);
  box-shadow: 0 2px 12px -1px fade(#000, 65%);
}

.summary {
  border: 10px solid @nn-blue-dark;
  padding: 40px;
  text-align: left;

  @media screen and (max-width: @screen-xs-max) {
    padding: 20px;
  }

  &-title {
    margin: 0 0 40px;
    text-align: center;
  }

  &-label {
    margin-bottom: 0;

    @media screen and (max-width: @screen-xs-max) {
      font-size: 22px;
    }
  }

  &-item {
    margin: 12px 0;
    white-space: pre-wrap;
  }

  &-actions {
    margin: 40px 0;
    text-align: center;
  }

  &-button {
    .btn;
    .button-variant(#fff; @nn-purple; @nn-purple);
    text-transform: uppercase;

    &[disabled="disabled"] {
      opacity: 0.5;
    }
  }

  &-message {
    font-size: 24px;
    height: 50px;
    text-align: center;
  }
}

@media print {
  .summary {
    border: none;
    font-size: 12px;
    padding: 0;
  }
}

// -- Bootstrap --

.modal-dialog {
  .container;
}

.modal-body {
  padding: 0;
}

.modal-content {
  box-shadow: none !important;
}

body.video {
  .modal-content{
    background: transparent;
    border: 0;
  }
}

.tooltip-inner {
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
}

// -- Angular --

a[ng-click] {
  cursor: pointer;
}

.nn-fade-in.ng-enter {
  opacity: 0;
  transition: .15s linear all;
}

.nn-fade-in.ng-enter.ng-enter-active {
  opacity: 1;
}
